body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin-bottom: 70px;
}
.navbar{
    padding: 1% 10%;
}

.nav-link{
    
    margin: 10px;
    border-radius: 2px;
    transition: .4s;
}
.nav-link:hover{
    background-color: #c8b0ad;
    border-radius: 4px;
  
    
}
.orang{
    background-color: #fceae8;
    border-radius: 10px;

}

.carousel-item{
    padding: 20px 40px;
   
}
.price{
    color: #FF136F;
}

.buy-now{
    background-image:linear-gradient(to bottom, #FF589B 0%, #FF136f 100% );
    color : #fff;
    border:none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

p{
    color: gray;
}


#news{
    padding: 5% 10%;
    background-color: rgb(230, 225, 225) ;
}

.features-col{
    border: 2px solid #79414f;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    transition: .4s;

}

.features-col:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black ;
}

.icon-style{
    background: #c8b0ad;
    color: #FF136F;
    padding: 15px;
    margin: 5px 0;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px;
}

.hovr{
    padding: 15px;
    margin: 20px 0;
    transition: .4s;

}

.hovr:hover{
    transform: scale(1.1);
   
}

.styl{
    border: 2px solid orange;
    background-color:rgba(0, 0, 0, 0.829) ;
    margin-bottom: -60px;
    
  
}
